* {
	margin: 0;
	padding: 0;
	font-family: "Oswald";
	box-sizing: border-box;
    color: #fff;  
}
body{
    height: 100vh;
    background-color:#ffdfbac9;
    color: #000;
}
.main{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 4px;
    flex-direction: column;
    flex-wrap: wrap;
 
}
header{
    background:rgb(107 16 16);
    font-size: 30px;
    padding: 20px;
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
}
header p{
    color: #ffffff;
}
.calendar{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.left,.right{
    text-align: center;
    font-size: 30px; 
    padding: 12px; 
    border: 10px solid rgba(190, 30, 19, 0.301);
    width: 200px;
    
}
.left{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(226, 166, 95);

}
.right{
    background-color: rgb(107, 16, 16);
}

    
.bottom{
    width: 100%; /* Make it take the full width of the screen */
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 8px;
    background-color: rgb(165, 93, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline-style: auto;
}
footer{
    
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    

}
footer .madeBy{
    position: absolute;
    top:30%;
    font-size: 20px;
}

@media (max-width: 768px) {
    .left, .right{
     padding: 30px;
    }
	.left{
        font-size: 20px;
        font-weight: 600;
    }
   .hdr{
     font-size: 8px;
   }
   #taskList li{
    font-size: 10px;
   }

}

/*Section*/
.toDo{
    height: 600px;
    color: #000;
    display: flex;
    flex-direction:column;
    margin-top: 20px;
    align-items: center;

}
.task{
    font-weight: 600;
    color: #000;
    height: max-content;
    text-align: center;
    width: 300px;
    appearance: none;
	border: none;
	outline: none;
	border-bottom: .5em solid rgb(107 16 16);
    background-color:rgb(255 241 225);
	border-radius: .2em .2em 0 0;
	padding: .85em 1.5em;
	border-radius: 10px;
    margin-bottom: 6px;
}

.button-group button{
    font-weight: 600;
    appearance: none;
    border-bottom: 0.4rem solid #6b1010;
	padding: .85em 1.5em;
	color: #ffffff;
	border-radius: 2em;
    background-color:rgb(243, 189, 157);
    &:hover, &:focus, &:active {
		background:rgb(215 125 72) ;
		
}
}

#taskList{
    max-height: 300px;
    width: 300px;
    overflow-y: auto;
    word-wrap: break-word;
    display: block;
    color: #000;
   
}

#taskList li{
    display: flex;
    word-wrap: break-word;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid rgb(73, 35, 35);
    background-color: rgb(107 16 16 / 38%);
    
    
}
#taskList li button{
    border-bottom: 0.4rem solid #6b1010;
	padding: 4px;
	color: #ffffff;
	border-radius: 2em;
    background-color:rgb(243, 189, 157);
    transition: 0.8s;
    &:hover, &:focus, &:active {
		background:rgb(215 125 72) ;
    appearance: none;
	
}}

#time{
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background: #fff1e1;
    font-size: 20px;
    padding: 10px;
    border: 2px dashed rgb(199 148 130);
    margin: 10px;
    color: #6b1010;
}
#taskList li label{
    word-wrap: break-word;
}

